@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon .navbar-brand {
    height: auto;
    padding: 29.5px 15px;
}
.navbar-icon .navbar-form {
    margin: 22.5px 0;
}
.navbar-icon .navbar-nav>li>a {
    text-align: center;
    display: table-cell;
    height: 79px;
    vertical-align: middle;
}
.navbar-icon .navbar-nav>li>a>.fa {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}